* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid blue;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: var(--app-height);
    font-family: sans-serif;

}

header {
    padding: 16px;
    background-color: #185FA5;
    color:white;
    flex-shrink: 0;
}

main {
    flex: 1;
    min-height:0;
    overflow-y: auto;
}

nav {
    display:flex;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
}

nav button {
    flex: 1;
    padding: 12px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}

nav button.tab-active {
    color: #185FA5;
    border-top: 2px solid #185FA5;
    margin-top: -1px;
}

.hidden {
    display: none;
}

.today {
    background-color: aquamarine;
}

#cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}